@font-face {
    font-family: customFont;
    src: url("../font/IM_Fell_Great_Primer_SC/IMFellGreatPrimerSC-Regular.ttf");
  }
  
  *{
    font-family: customFont;
  }

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../picture/main_background.png");
    background-color: #454545;
    text-align: center;
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    align-content: center;
}
.header {
    width: 95%;
    background-image: url("../picture/header.png");
    background-color: #454545;
    margin:2.5%;
    color: white;
    text-align: left;
    align-content: start;
    justify-content: center;
    height: 54px;
    padding: 4px;
}
.banner {
    display: flex;
    flex-direction: row;
}
.navButtons {
    width: 20%;
    height: 100%;
}
.headerButton {
    background-color: #2e2e2e;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    padding: 15px;
    width: 25%;
}
.headerButton:hover {
    box-shadow: 7px 6px 28px 1px rgba(230, 197, 108, 0.24);
    cursor: pointer;
    outline: none;
    background-color: #d9b85f;
    color: white;
}
.headerButton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(230, 197, 108, 0.24);
    /* Lowering the shadow */
    background-color: #e6c56c;
    color: white;
}
.searchBar {
    margin: 0 10px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.searchSubmit {
    background-color: #2e2e2e;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
    padding: 15px;
    width: 7%;
    outline: none;
}
#searchValue {
    height: 100%;
    width: 40%;
    margin-left: -4px;
    border: none;
    background-color: #2e2e2e;
    font-size: 16px;
    padding: 18px;
}
#searchValue:focus {
    outline: none;
    border: 2px solid #d9b85f;
    color: white;
}
.customSelect {
    position: relative;
    width: 25%;
}
.customSelect select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: #2e2e2e;
    height: 68%;
    font-size: 16px;
    text-align: center;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: white;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: rgb(63, 63, 63);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.lastDrop {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.userAndPageName {
    width: 20%;
    height: 100%;
}
.pageName {
    font-size: 25px;
    height: 100%;
    text-align: right;
    width: 70%;
    padding: 12px 5% 12px 0;
    display: inline-block;
}
.profilePicture {
    margin-right: 2%;
    float: right;
    border: none;
    border-radius: 30px;
    align-self: end;
    height: 100%;
    padding: 5px;
    width: 20%;
    background: transparent;
    transition: 0.2s all;
}
.profilePicture:hover {
    box-shadow: 7px 6px 28px 1px rgba(230, 197, 108, 0.24);
    cursor: pointer;
    outline: none;
}
.profilePicture:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(230, 197, 108, 0.24);
    /* Lowering the shadow */
}
#stockView {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    overflow: auto;
    scrollbar-base-color: #454545;
}
#stockView td, #stockView th {
    border: 1px solid #ddd;
    padding: 8px;
}
#stockView tr:nth-child(even){
    background-color: #f2f2f2;
}
#stockView tr:hover {
    background-color: #ddd;
}
#stockView thead {
    position: relative
}
#stockView th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c74af;
    color: white;
}
.tableButtonDelete .tableButtonModify {
    padding: 5px 15px;
}
.container_page{
    margin: 20px;
    padding: 15px;
    background-color: #4a4a4a;
    color: white;
    justify-content: center;
    text-align: center;
}

.formButton{
    background-color: #2e2e2e;
    border: none;
    margin-right: 2px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    padding: 15PX;
}

.formButton:hover {
    background-color:#d9b85f;
    color: white;
}
.formButton:active {
    background-color: #e6c56c;
    color: white;
}
