@font-face {
    font-family: customFont;
    src: url("../font/IM_Fell_Great_Primer_SC/IMFellGreatPrimerSC-Regular.ttf");
  }
  
  *{
    font-family: customFont;
  }

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../picture/main_background.png");
    background-color: #454545;
    text-align: center;
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    align-content: center;
}
.header {
    width: 95%;
    background-image: url("../picture/header.png");
    background-color: #454545;
    margin:2.5%;
    color: white;
    text-align: left;
    align-content: start;
    justify-content: center;
    padding: 2px;
}


button {
    background-color: #2e2e2e;
    border: none;
    margin-right: 2px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    padding: 15PX;
}

button:hover {
    background-color:#d9b85f;
    color: white;
}
button:active {
    background-color: #e6c56c;
    color: white;
}
.dropbtn {
    background-color: #454545;
    color: white;
    width: 100%;
    padding: 16px 470px;
    font-size: 16px;
    border: none;
    border-radius: 0;
}
.searchBar {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #949494;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.searchBar:hover .dropdown-content {
    display: block;
}
.searchBar:hover .dropbtn {
    background-color: #3e8e41;
}
.pageName {
    float: right;
    font-size: 25px;
    text-align: center;
    padding: 10px 35px;
}
#stockView {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    overflow: auto;
    scrollbar-base-color: #454545;
}

#stockView td, #stockView th {
    border: 1px solid #ddd;
    padding: 8px;
}

#stockView tr:nth-child(even){background-color: #f2f2f2;}

#stockView tr:hover {background-color: #ddd;}
#stockView thead {position: relative}

#stockView th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c74af;
    color: white;
}
.tableButtonDelete .tableButtonModify {
    padding: 5px 15px;
}


.container_page{
    margin: 20px;
    background-color: #4a4a4a;
    color: white;
    justify-content: center;
    text-align: center;
}
